# this is user default configue, 
# you can set your config in MK.config.custom

TOP_DIR ?= .

include $(TOP_DIR)/MK.config.custom

###########################################################
####	USER configure : you can reconfigure the following in MK.config.custom

BUILD_TYPE ?= DEBUG

#SCONF_URE_ENABLE_TRACE ?= no

###########################################################
####	this is actually setting

ifeq ($(strip $(SCONF_URE_ENABLE_TRACE)),yes)
CFLAGS += -DSCONF_URE_ENABLE_TRACE
endif

-include $(TOP_DIR)/MK.template

-include $(TOP_DIR)/PROG_VERSION.def

# end

